<h3>All Projects</h3>

<%= div_for @projects, class: 'large-3 columns panel callout radius ' do |project| %>
  <p>
    <strong>Name</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Github</strong>
    <%= link_to project.github_url, project.github_url %>
  </p>

  <p>
    <strong>Intern</strong>
    <%= project.intern.name %>
  </p>

  <p>
    <strong>Mentor</strong>
    <%#<%= project.intern.mentor %>%>
  </p>

  <p>
    <strong>Level</strong>
    <%= project.project_level %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= raw project.tags.map { |t| raw link_to t.name, tag_path(t.name) }.join(', ') %>
  </p>

  <%= link_to 'Details', project_path(project), class: 'button tiny radius success' %>
<% end %>
