<p>
  <strong>Project Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Github:</strong>
  <%= @project.github_url %>
</p>

<p>
  <strong>Project Level:</strong>
  <%= @project.project_level %>
</p>

<p>
  <strong>Intern:</strong>
  <%= @project.intern.name %>
</p>

<p>
  <strong>Project Mentor:</strong>
  <%#<%= @project.intern.mentor.name %>%>
</p>

<p>
  <strong>Mentor role:</strong>
  <%= @project.mentor_role %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
